button.btn-100 {
    width: 100%;
}

button.add-rows {
    margin-bottom: 10px;
}
input.set-name {
    margin-bottom: 10px;
}

button.invisible {
    display: none;
}
colgroup col:nth-child(1),
colgroup col:nth-child(2),
colgroup col:nth-child(3),
colgroup col:nth-child(5) {
    width: 15%;
}
colgroup col:nth-child(4) {
    width: 40%;
}
