button.btn-100 {
    width: 100%;
}

button.add-rows {
    margin-bottom: 10px;
}

input.set-name {
    margin-bottom: 10px;
}

button.invisible {
    display: none;
}

#input-table colgroup col:nth-child(1),
#input-table colgroup col:nth-child(2),
#input-table colgroup col:nth-child(3),
#input-table colgroup col:nth-child(5) {
    width: 15%;
}

#input-table colgroup col:nth-child(4) {
    width: 40%;
}

#selection-table {
    table-layout: fixed;
}

#selection-table colgroup col:nth-child(1),
#selection-table colgroup col:nth-child(2),
#selection-table colgroup col:nth-child(4) {
    width: 15%;
}

#selection-table colgroup col:nth-child(3) {
    width: 55%;
}

/* fixes overflow issues for english words with no spaces. could possibly be useful for other sections */
table tr td {
    text-overflow: ellipsis;
    word-wrap: break-word;
}
