div.card {
    height: 120px;
    border: 3px solid black;
    border-bottom: none;
    padding: 20px;
}
div.card:last-child {
    border-bottom: 3px solid black;
}
.invisible {
    display: none;
}

.correct {
    border: 1px solid green;
    background-color: green;
}

div.iffy {
    background-color: #FFB970;
}

div.wrong {
    background-color: red;
}

div.word-input button {
    width: 100%;
}

div.row {
    padding-bottom: 10px;
}

button.buttonprev_next {
    background-color: #48B4ED;
    width: 5em;  height: 3em;
}
/*div.button-row {
    width: 80%;
    padding-left: 10%;
}*/

button.card-nav {
    width: 100%;
}
