div.jumbotron {
    background-color: white;
    height: 250px;
    background: url('image/wordzi.jpg');
}

div.recent-items {
    background-color: #995778;
    padding: 60px;
    overflow: scroll;
    border-radius: 5px;

}
div.recent-item {
    background-color: #F0EFEB;
    height: 250px;
    border-radius: 5px;
    overflow: scroll;
}
div.recent-item-title {
    padding: 10px;
    border-bottom: 3px solid red;
}
div.recent-item-content div {
    border-bottom: 1px solid grey;
    padding: 10px;
}

div.content {
    width: 80%;
    margin-left: 10%;
}

div.copyright {
    padding: 2em;
}
