div.jumbotron {
    background-color: magenta;
}

div.recent-items {
    background-color: black;
    padding: 40px;
    overflow: scroll;
}
div.recent-item {
    background-color: #FCFF96;
    height: 250px;
    border-radius: 5px;
    overflow: scroll;
}
div.recent-item-title {
    padding: 10px;
    border-bottom: 3px solid red;
}
div.recent-item-content div {
    border-bottom: 1px solid grey;
    padding: 10px;
}

