<html>
    <head>
        <link href= '{{ url_for("static", filename="bootstrap.css") }}' rel='stylesheet' />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script>
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <title>Learn Chinese Flashcards</title>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ url_for('index') }}">家 of Cards</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

              <form class="navbar-form navbar-left pull-right" role="search">
                Welcome, {{  current_user.username    }}
                {% if current_user.is_authenticated() %}
                  <a href="{{ url_for('user.logout') }}" class="btn btn-warning">Sign out</a>
                {% else %}
                  <a href="{{ url_for('user.login') }}" class="btn btn-success" role="button">Log In</a>
                {% endif %}
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
