<link href= '{{ url_for("static", filename="home.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="jquery-1.11.1.js") }}'></script>
<script>
$(document).ready(function() {
    $('div.recent-item').mouseover(function() {
        $(this).addClass('black');
    });
    $('div.recent-item').mouseout(function() {
        $(this).removeClass('black');
    });


});
</script>
{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12 jumbotron">
    </div>
</div>
<div class="row recent-items">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center" style="font-stretch: ultra-expanded">Most recent sets</h3>
                <br></br>
            </div>
        </div>
        <div class="row">
            {% for set in sets%}
            <div class="col-md-4">
                <div class="recent-item">
                    <div class="recent-item-title">
                        <h5 class="text-center"><a href="{{ url_for('cards', id=set.id) }}"> {{ set.name or "Untitled" }}</a></h5>
                    </div>
                    <div class="recent-item-content">
                        {% if set.words[0] %}
                        <div>
                            {{ set.words[0].simplified }}, {{set.words[0].pinyin}}, {{ set.words[0].english }}
                        </div>
                        {% endif %}
                        {% if set.words[1] %}
                        <div>
                            {{ set.words[1].simplified }}, {{set.words[1].pinyin}}, {{ set.words[1].english }}
                        </div>
                        {% endif %}
                        {% if set.words[2] %}
                        <div>
                            {{ set.words[2].simplified }}, {{set.words[2].pinyin}}, {{ set.words[2].english }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row copyright">
    <div class="col-xs-12 text-center">
        © 2014 Sarah Abdel-Jelil, Laura Biester, Phuong Dinh and Valerie Lambert
    </div>
</div>
{% endblock %}
