<link href= '{{ url_for("static", filename="user.css") }}' rel='stylesheet' />
<script src='{{ url_for("static", filename="jquery-1.11.1.js") }}'></script>

<script>
$(document).ready(function() {
    $('li#viewsets').addClass('active');
    $('button.remove-row').click(function() {
        $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + '/deleteset/' + this.id,
                success: function(data){
                    console.log("success");
                    console.log(data.id);
                    $('button#' + data.id).parent().parent().parent().parent().remove();
                }
        });
    });
});
</script>
{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Your Sets</h3>
            </div>
        </div>
        {% for set in user.sets %}
        <div class="row rounded-box">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10">
                        <a href="{{ url_for('set', id=set.id) }}"><h4>{{ set.name or "Untitled"}}</h4></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{ url_for('cards', id=set.id) }}" class="btn btn-success btn-100" type="button">
                            Study Cards
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        {% if set.words[0] %}
                        <em>
                            1. {{ set.words[0].simplified }}, {{set.words[0].pinyin}}, {{ set.words[0].english}}
                        </em>
                        {% endif %}
                        {% if set.words[1] %}
                        <em>
                            2. {{ set.words[1].simplified }}, {{set.words[1].pinyin}}, {{ set.words[1].english}}
                        </em>
                        {% endif %}
                        {% if set.words[2] %}
                        <em>
                            3. {{ set.words[2].simplified }}, {{set.words[2].pinyin}}, {{ set.words[2].english}}
                        </em>
                        {% endif %}

                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-danger btn-100 remove-row" type="button" id="{{ set.id }}">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
